<div class="panel">
  <%= link_to 'Add new client', new_company_path, :class => 'btn btn-success', :remote => true %>
  </br>
  <%= render 'companies/table', :clients => @clients %>
</div>
<%= render 'companies/pagination', :current_page => 1 %>
