<div id="clients-pagination" class="pagination-centered">
  <ul class="pagination">
    <li>
      <%= link_to '«', companies_path(current_page-1), remote: true %>
    </li>
    <% (1..current_user.company.get_number_of_client_pages).each do |i| %>
    <% if current_page == i %>
    <li class="active">
    <%= link_to i, companies_path(i), remote: true %>
    </li>
    <% else %>
    <li>
      <%= link_to i, companies_path(i), remote: true %>
    </li>
    <% end %>
    <% end %>
    <li>
      <%= link_to '»', companies_path(current_page+1), remote: true %>
    </li>
  </ul>
</div>
