<header class="topbar">
  <div class="wrapper">
    <a href="#" class="topbar-title">
      <img class="topbar-logo" src="https://d1015h9unskp4y.cloudfront.net/attachments/5e34b38d-67f2-4f68-9556-128d77d05c14/logo.png" alt="Invoicerio" />
    </a>
    <a class="topbar-toggle">MENU</a>
    <nav role='navigation' class="topbar-nav">
      <ul>
        <li><a href="#">Tour</a></li>
        <li><a href="#">Featured</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#" class="button button-primary">Sign Up</a></li>
      </ul>
    </nav>
  </div><!-- /.wrapper -->
</header>

<div class="hero">
  
  <div class="hero-overlay">

  <div class="hero-wrapper">

    <h1 class="hero-text">
      Freelancers, take&nbsp;control of your&nbsp;finances.
    </h1>

    <h2 class="hero-subtext">Meet </strong>Ivnvoicerio</strong>, a financial planning,<br /> invoicing, forecasting, and metrics just for you.</h2>

    <a href="#" class="button hero-cta">Try it free today</a>

  </div><!-- /.hero-wrapper -->

  </div>

</div>

<div class="features">
  
  <div class="wrapper">
  
  <h2 class="features-title">
    An Everyday Finances Control
  </h2>
  
  <div class="features-item">
    <img class="features-item-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/invoicerio_icon_1.png" alt="" />
    <h3 class="features-item-title">
      Simple Online Invoices
    </h3>
    <p class="features-item-description">
      Create and send beautiful invoices and impress customers. Customize every little detail on your invoice to reflect your brand.
    </p>
  </div><!-- /.features-item -->
  
  <div class="features-item">
    <img class="features-item-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/invoicerio_icon_2.png" alt="" />
    <h3 class="features-item-title">
      Track Time Easily
    </h3>
    <p class="features-item-description">
      Effortlessly track time for projects and invoice your customers. Set the timer and get immersed in your work.
    </p>
  </div><!-- /.features-item -->
  
  <div class="features-item">
    <img class="features-item-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/invoicerio_icon_3.png" alt="" />
    <h3 class="features-item-title">
      Automate Payment Reminders
    </h3>
    <p class="features-item-description">
      Focus on your work while we do the payment follow-up. Just enter the data and set it to auto-pilot.
    </p>
  </div><!-- /.features-item -->
  
  </div><!-- /.wrapper -->
    
</div>

<div class="features">
  
  <div class="wrapper">
  
  <div class="features-item">
    <img class="features-item-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/invoicerio_icon_3.png" alt="" />
    <h3 class="features-item-title">
      Accept Online Payments
    </h3>
    <p class="features-item-description">
      Get paid faster and on time with online payment gateways. Send a personalized automated thank you note as well.
    </p>
  </div><!-- /.features-item -->
  
  <div class="features-item">
    <img class="features-item-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/invoicerio_icon_5.png" alt="" />
    <h3 class="features-item-title">
      Information at Fingertips
    </h3>
    <p class="features-item-description">
      Gain critical insights on business performance. Know your best customers and your best selling products.
    </p>
  </div><!-- /.features-item -->
  
  <div class="features-item">
    <img class="features-item-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/invoicerio_icon_6.png" alt="" />
    <h3 class="features-item-title">
      Invite. Work. Together
    </h3>
    <p class="features-item-description">
      Share and collaborate data with team members and your accountant. Have complete control with user based roles.
    </p>
  </div><!-- /.features-item -->
  
  </div><!-- /.wrapper -->
    
</div>


<div class="reviews">

  <div class="wrapper">

    <h2 class="reviews-title">Use invoicerio and run your business like a business.</h2>

    <div class="reviews-review">
      <img class="reviews-headshot" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/review-headshot1.png" alt="" />
      <blockquote class="reviews-quote">After 20 minutes in Invoicerio, I get it. It's stupid amazing. This will help freelancers sleep at night.</blockquote>
      <cite class="reviews-citation">
        Adam Zakhanik, Front-end developer
      </cite>
    </div>

    <div class="reviews-review">
      <img class="reviews-headshot" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/review-headshot2.png" alt="" />
      <blockquote class="reviews-quote">Invoicerio allows me to detect shifts and momentum within my business. It gives me that bird's-eye view I've been searching for.</blockquote>
      <cite class="reviews-citation">
        Dennis Vooble, Designer
      </cite>
    </div>  

  </div>

</div>


<footer class="footer">
  <div class="wrapper">
    <div class="footer-subscribe">
      <strong class="footer-title">
        Subscribe to our Newsletter!
      </strong>
      <p class="footer-subscribe-text">Subscribe to get monthly updates in your inbox from Invoicerio. You will receive updates, productivity tips, and exclusive offers.</p>
      <form class="footer-subscribe-form">
        <input type="email" placeholder="Your email address"/>
        <button class="button-primary">Subscribe</button>
      </form>
    </div>
    <div class="footer-recent">
      <strong class="footer-title">
        Recent Blogs
      </strong>
      <ul class="footer-recent-blogs">
        <li><a hred="#">Invoicerio featured in ABC News App Chat Show</a></li>
        <li><a hred="#">Your go-to invoicing app just crossed 100,000 downloads!</a></li>
        <li><a hred="#">When invoicing becomes child's play. Literally.</a></li>
        <li><a hred="#">Invoicerio - Android app gets a makeover this summer!</a></li>
      </ul>
    </div>
  </div><!-- /.wrapper -->
  
  <hr class="footer-divider" />
  
  <div class="wrapper">
    <div class="footer-info">
    <div class="footer-copyright">
      &copy; 2014 Invoicerio Ltd. All Rights Reserved
    </div>
    <nav class="footer-nav">
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Security Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </nav>
    </div>
    <div class="footer-social">
      <ul>
        <li>
          <a href="#"><img class="footer-social-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/invoicerio_social_facebook.png" alt="" /></a>
        </li>
        <li>
          <a href="#"><img class="footer-social-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/invoicerio_social_twitter.png" alt="" /></a>
        </li>
        <li>
          <a href="#"><img class="footer-social-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/invoicerio_social_google.png" alt="" /></a>
        </li>
      </ul>
    </div>
  </div><!-- /.wrapper -->
</footer>
