$('#alert').html('<div class="alert alert-dismissable alert-info fade in"><%=j alert %><a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a></div>');
window.setTimeout(function() { $(".alert").alert('close'); }, 3000);
